*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: disc;
    box-sizing: border-box;
}
nav{
    height: 80px;
    width: 100%;
}
img{
    width: 170px;
    height: auto;
    margin: 10px;
}
nav ul{
    float: right;
    margin-right:20px ;
    background-color: white;
}
nav ul li{
    display: inline-block;
    line-height: 80px;
    margin: 0 5px;
}
nav ul li a{
    color: black;
    font-size:17px;
    padding: 7px 13px;
    border-radius: 3px;
    text-transform: uppercase;
}
a.active{
    background-color: blue;
    color: white;
    padding: 10px;
}
.checkbtn{
    font-size: 30px;
    float:right;
    line-height:80px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
}
#check{
    display: none;
}
.coin-top{
    background-color:blue;
    color:white;
    margin-top:50px;
    opacity: 0.8;
}
.divs{
    display:inline-block;
    padding:20px;
    margin-left: 150px;
    font-size:17px;
}
.divs1{
    display:inline-block;
    padding:20px;
    margin-left: 100px;
    font-size: 17px;
}
.divs2{
    display:inline-block;
    padding:20px;
    margin-left: 100px;
    font-size: 17px;
}
.divs3{
    display:inline-block;
    padding:20px;
    margin-left:100px;
    font-size: 17px;
}
.divs4{
    display:inline-block;
    padding:20px;
    margin-left: 100px;
    font-size:17px;
}
.top h3{
    margin-top: 30px;
    margin-left: 140px;
    font-size: 25px;
}
.top a{
    float:right;
    margin-right:225px;
    margin-top: -30px;
    padding:10px;
    font-size: 15px;
    background-color: gainsboro;
    border:1px solid gainsboro;
    border-radius: 25px;
    color:black;
}
.butt1{
    padding:20px;
    margin-left: 30px;
    background-color:rgb(47, 248, 255) ;
    border:1px solid;
    border-radius: 25px;
    display: inline-block;
}
#icon{
    margin: 0;
    padding: 0;
    color:white;
    font-weight:bold;
    transform:rotate(45deg);
}
/* Slideshow container */
.slideshow-container {
    position: relative;
    background:#fff;
}
  
  /* Slides */
.mySlides {
    display: none;
    padding: 60px;
    text-align: center;
}
  /* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
    color: white;
}
  
  /* The dot/bullet/indicator container */
.dot-container {
    text-align: center;
    padding: 20px;
    background: #fff;
}
  
/* The dots/bullets/indicators */
.dot{
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
} 
table{
    margin-left: 200px;
}th{
    padding:27px;
    color: blue;
}
td{
    padding: 27px;
    color:blue;
    font-weight: bold;
    font-size:20px;
}
@media (max-width:952px){
    img{
        width: 130px;
        height: 50px;
        padding-left: 50px;
    }
    nav ul li a{
        font-size:16px;
    }
}
@media (max-width:852px){
    img{
        width: 150px;
        height: 50px;
    }
    .checkbtn{
        display: block;
    }
    ul{
        position: fixed;
        width: 100%;
        height: 100vh;
        top: 80px;
        left: -100%;
        transition: all .5s ease;
    }
    nav ul li{
        display: block;
        margin: 50px 0;
        line-height: 30px;
        text-align: center;
    }
    nav ul li a{
       font-size: 20px; 
    }
    #check:checked ~ ul{
        left: 0;
    }
    .divs{
        margin: 0;
    }
    .divs1{
        margin: 0;
    }
    .divs2{
        margin: 0;
    }
    .divs3{
        display: none;
    }
    .divs4{
        display: none;
    }
    .top h3{
        margin-top: 20px;
        margin-left: 15px;
    }
    .top a{
        margin-top: -30px;
        margin-right: 20px;
        padding:10px;
        font-size:17px;
    }
    .butt1{
        margin-left: 5px;
    }
    #bt{
        display: none;
    }
    table{
        margin: 0;
    }
    th{
        font-size:17px;
        padding: 10px;
    }
    td{
        font-size: 17px;
        padding: 10px;
    }
    th:nth-child(5){
        display: none;
    }
    th:nth-child(6){
        display: none;
    }
    th:nth-child(7){
        display: none;
    }
    th:nth-child(8){
        display: none;
    }
    .mk1{
        display: none;
    }
    .mk2{
        display: none;
    }
    .mk3{
        display: none;
    }
    .mk4{
        display: none;
    }
}
